aliyun-python-sdk-core
aliyun-python-sdk-kms
asn1crypto
bcrypt
bit-array
bitarray
cffi
chardet
crcmod
cryptography
DateTime
elasticsearch==6.3.1
enum34
greenlet
idna
impyla
ipaddress
jmespath
numpy
oss2
pandas
paramiko
pyasn1
PyMySQL
PyNaCl
python-dateutil
pytz
redis
requests
sasl==0.2.1
six
SQLAlchemy
sshtunnel
thrift==0.9.3
thrift-sasl==0.3.0
urllib3
zope.interface